main {
  margin: 1em;
  max-width: 1000px;
  margin: 0 auto 0;
}

/** Mobile  */

@media screen and (max-width: 700px) {
  main {
    margin: 1em;
  }
  /* @trending-container */
  .trending-container {
    h3 {
      color: #c31815;
      margin-top: 1em;
    }
    .post-content {
      margin-bottom: 3em;
    }
    .pic-container {
      width: 100%;
      height: 265px;
      margin-top: 1em;
    }
    .pic-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .title-container {
      margin-top: 1em;
    }
    .title-container .title-post {
      text-decoration: none;
      color: #2a2a2a;
      font-size: 20pt;
      font-weight: 600;
    }
    .description-container {
      margin-top: 1em;
    }
    .description-container p {
      font-size: 13pt;
      color: #2a2a2a;
      letter-spacing: 1px;
    }
    .more_details-container {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      font-size: 12pt;
    }
    .more_details-container .released-time {
      margin-left: 1em;
    }
    .more_details-container div {
      display: flex;
      align-items: center;
    }
    .more_details-container div h5 {
      margin-right: 1em;
      color: #787878;
    }
  }
  /* @breaking_news-container */
  .breaking_news-container {
    margin-bottom: 2em;
    h1 {
      color: #c31815;
      text-align: center;
      font-size: 28pt;
      margin-bottom: 0.5em;
    }
    .breaking_news-choices-container {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      background-color: #c31815;
      padding: 1.5em;
      margin: 1em -1em 2em;
    }
    .breaking_news-choices ul li {
      display: inline;
    }
    .breaking_news-Link-choice {
      text-decoration: none;
      margin-right: 2em;
      color: aliceblue;
      font-size: 12pt;
      font-weight: 600;
    }
    .breaking_news-post-content {
      padding-bottom: 1em;
      margin-bottom: 3em;
    }
    .breaking_news-pic-container {
      width: 100%;
      margin-top: 1em;
    }
    .breaking_news-pic-container img {
      width: 100%;
    }
    .breaking_news-post-content {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .breaking_news-title-container,
    .breaking_news-description-container {
      padding: 1em 1em 0;
    }
    .breaking_news-title-post {
      font-size: 20pt;
      text-decoration: none;
      color: #2a2a2a;
      font-weight: 600;
    }
    .breaking_news-description-container p {
      font-size: 13pt;
    }
    .breaking_news-more_details-container {
      margin-top: 1em;
      font-size: 12pt;
    }
    .breaking_news-more_details-container .detail-1 {
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin: 2.5em 0 1em;
    }
    .breaking_news-more_details-container .detail-2 {
      display: flex;
      justify-content: space-around;
      margin-top: 1em;
    }
    .breaking_news-more_details-container .released-time {
      margin-left: 1em;
    }
    .breaking_news-more_details-container div {
      display: flex;
      align-items: center;
    }
    .breaking_news-more_details-container div h5 {
      margin-right: 1em;
      color: #787878;
    }
  }
}

/** Tablet */
@media screen and (max-width: 1030px) and (min-width: 700px) {
  main {
    padding: 1em;
    max-width: 1000px;
    margin: 0 auto 0;
  }
  /* @trending-container */
  .trending-container {
    h3 {
      color: #c31815;
      margin-top: 1em;
    }
    .post-contents-container {
      display: grid;
      grid-template-columns: auto auto;
      gap: 1em;
    }
    .post-content {
      margin-bottom: 3em;
    }
    .pic-container {
      width: 100%;
      height: 265px;
      margin-top: 1em;
    }
    .pic-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .title-container {
      margin-top: 1em;
    }
    .title-container .title-post {
      text-decoration: none;
      color: #2a2a2a;
      font-size: 18pt;
      font-weight: 600;
    }
    .description-container {
      margin-top: 1em;
    }
    .description-container p {
      font-size: 13pt;
      color: #2a2a2a;
      letter-spacing: 1px;
    }
    .more_details-container {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      font-size: 10pt;
    }
    .more_details-container .released-time {
      margin-left: 1em;
    }
    .more_details-container div {
      display: flex;
      align-items: center;
    }
    .more_details-container div h5 {
      margin-right: 1em;
      color: #787878;
    }
  }
  /* @breaking_news-container */
  .breaking_news-container {
    margin-bottom: 2em;
    h1 {
      color: #c31815;
      text-align: center;
      font-size: 28pt;
      margin-bottom: 0.5em;
    }
    .breaking_news-choices-container {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      background-color: #c31815;
      padding: 1.5em;
      margin: 1em -1em 2em;
    }
    .breaking_news-choices ul li {
      display: inline;
    }
    .breaking_news-Link-choice {
      text-decoration: none;
      margin-right: 2em;
      color: aliceblue;
      font-size: 12pt;
      font-weight: 600;
    }
    .breaking_news-post-contents-container {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 1em;
    }
    .breaking_news-post-content {
      padding-bottom: 1em;
      margin-bottom: 3em;
    }
    .breaking_news-pic-container {
      width: 100%;
    }
    .breaking_news-pic-container img {
      width: 100%;
    }
    .breaking_news-post-content {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .breaking_news-title-container,
    .breaking_news-description-container {
      padding: 1em 1em 0;
    }
    .breaking_news-title-post {
      font-size: 18pt;
      text-decoration: none;
      color: #2a2a2a;
      font-weight: 600;
    }
    .breaking_news-description-container p {
      font-size: 13pt;
    }
    .breaking_news-more_details-container {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      font-size: 10pt;
    }
    .breaking_news-more_details-container .released-time {
      margin-left: 1em;
    }
    .breaking_news-more_details-container div {
      display: flex;
      align-items: center;
    }
    .breaking_news-more_details-container div h5 {
      margin-right: 1em;
      color: #787878;
    }
  }
}

/** Desktop */
@media screen and (min-width: 1030px) {
  main {
    margin: 1em;
    max-width: 1000px;
    margin: 0 auto 0;
  }
  /* @trending-container */
  .trending-container {
    h3 {
      color: #c31815;
      margin-top: 1em;
      font-size: 16pt;
    }
    .post-contents-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 1em;
    }
    .post-content {
      margin-bottom: 3em;
    }
    .pic-container {
      width: 100%;
      height: 165px;
      margin-top: 1em;
    }
    .pic-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .title-container {
      margin-top: 1em;
    }
    .title-container .title-post {
      text-decoration: none;
      color: #2a2a2a;
      font-size: 15pt;
      font-weight: 600;
    }
    .description-container {
      margin-top: 1em;
    }
    .description-container p {
      font-size: 12pt;
      color: #2a2a2a;
      letter-spacing: 1px;
    }
    .more_details-container {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      font-size: 9pt;
    }
    .more_details-container .released-time {
      margin-left: 1em;
    }
    .more_details-container div {
      display: flex;
      align-items: center;
    }
    .more_details-container div h5 {
      margin-right: 1em;
      color: #787878;
    }
  }
  /* @breaking_news-container */
  .breaking_news-container {
    margin-bottom: 2em;
    h1 {
      color: #c31815;
      text-align: center;
      font-size: 28pt;
      margin-bottom: 0.5em;
    }
    .breaking_news-choices-container {
      display: flex;
      align-items: center;
      margin-bottom: 1em;
      background-color: #c31815;
      padding: 1.5em;
      margin: 1em -1em 2em;
    }
    .breaking_news-choices ul li {
      display: inline;
    }
    .breaking_news-Link-choice {
      text-decoration: none;
      margin-right: 2em;
      color: aliceblue;
      font-size: 12pt;
      font-weight: 600;
    }
    .breaking_news-post-contents-container {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: 1em;
    }
    .breaking_news-post-content {
      padding-bottom: 1em;
      margin-bottom: 3em;
    }
    .breaking_news-pic-container {
      width: 100%;
    }
    .breaking_news-pic-container img {
      width: 100%;
    }
    .breaking_news-post-content {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .breaking_news-title-container,
    .breaking_news-description-container {
      padding: 1em 1em 0;
    }
    .breaking_news-title-post {
      font-size: 18pt;
      text-decoration: none;
      color: #2a2a2a;
      font-weight: 600;
    }
    .breaking_news-description-container p {
      font-size: 13pt;
    }
    .breaking_news-more_details-container {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      font-size: 10pt;
    }
    .breaking_news-more_details-container .released-time {
      margin-left: 1em;
    }
    .breaking_news-more_details-container div {
      display: flex;
      align-items: center;
    }
    .breaking_news-more_details-container div h5 {
      margin-right: 1em;
      color: #787878;
    }
  }
}
