main {
  margin: 1em;
  max-width: 1000px;
  margin: 0 auto 0;
}

/** Mobile  */
@media screen and (max-width: 700px) {
  main {
    margin: 1em;
  }

  /* @trending-container */
  .trending-container {
    h3 {
      color: #c31815;
    }

    .post-content {
      margin-bottom: 3em;
    }

    .pic-container {
      width: 100%;
      height: 265px;
      margin-top: 1em;
    }
    .pic-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .title-container {
      margin-top: 1em;
    }

    .title-container .title-post {
      text-decoration: none;
      color: #2a2a2a;
      font-size: 22pt;
      font-weight: 600;
    }

    .description-container {
      margin-top: 1em;
    }

    .description-container p {
      font-size: 14pt;
      color: #2a2a2a;
      letter-spacing: 1px;
    }

    .more_details-container {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      font-size: 12pt;
    }

    .more_details-container .released-time {
      margin-left: 1em;
    }

    .more_details-container div {
      display: flex;
      align-items: center;
    }

    .more_details-container div h5 {
      margin-right: 1em;
      color: #787878;
    }
  }

  /* @breaking_news-container */
  .breaking_news-container {
    margin-top: 5em;
    margin-bottom: 3em;

    h1 {
      color: #c31815;
      text-align: center;
      font-size: 28pt;
      margin-bottom: 0.5em;
    }

    .breaking_news-post-content {
      padding-bottom: 1em;
      margin-bottom: 3em;
    }

    .breaking_news-pic-container {
      width: 100%;
      margin-top: 1em;
    }

    .breaking_news-pic-container img {
      width: 100%;
    }

    .breaking_news-post-content {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .breaking_news-title-container,
    .breaking_news-description-container {
      padding: 1em 1em 0;
    }

    .breaking_news-title-post {
      font-size: 22pt;
      text-decoration: none;
      color: #2a2a2a;
      font-weight: 600;
    }

    .breaking_news-description-container p {
      font-size: 14pt;
    }

    .breaking_news-more_details-container {
      margin-top: 1em;
      display: flex;
      justify-content: space-between;
      font-size: 12pt;
    }

    .breaking_news-more_details-container .released-time {
      margin-left: 1em;
    }

    .breaking_news-more_details-container div {
      display: flex;
      align-items: center;
    }

    .breaking_news-more_details-container div h5 {
      margin-right: 1em;
      color: #787878;
    }
  }
}
