header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #ffffff;
}

.display-links-container-desktop {
  display: block;
}
.display-links-container-mobile {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 12%;
  height: 12%;
}

.logo h1 {
  font-size: 17pt;
}

.links-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-container ul li {
  list-style: none;
}

.links-container ul li .link {
  color: black;
  text-decoration: none;
  margin: 0 1em 0 1em;
}

/** Iphone 13 mini - Mobile  */
@media screen and (max-width: 610px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: #ffffff;
  }

  .display-links-container-desktop {
    display: none;
  }
  .display-links-container-mobile {
    display: block;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 6%;
    height: 6%;
  }

  .logo h1 {
    font-size: 16pt;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 2%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-btn {
    width: 1.5em;
    height: 1.5em;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
    background-color: white;
    border: none;
  }

  .links-container ul {
    display: block;
  }

  .links-container ul li {
    list-style: none;
    text-align: center;
  }

  .links-container ul li .link {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .links-container ul li .link:hover {
    float: none;
    color: rgb(255, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}
