main {
  padding: 0 2em 0 2em;
  max-width: 1300px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  border: black 1px solid;
  padding: 1.5rem 3rem 1.5rem 3rem;
}

.logo {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

#link-to-login,
#link-to-register {
  margin: 0 1em 0 1em;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

.post {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
}

.post #post-image {
  max-width: 100%;
  width: 400px;
}

.post .text #link-to-title-post {
  text-decoration: none;
  color: black;
  font-size: 3.2em;
}

.post .text #description-post {
  font-size: 1.3em;
}

.post .text .info {
  gap: 1em;
}

.post .text .info #link-to-auther-post {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.post .text .info #date-post {
  font-size: 1em;
}
