* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(255, 255, 255, 0.85);
}

/*# Register & Login */
.wrapper-or-container {
  p {
    text-align: center;
    font-size: 14pt;
    background-color: rgb(255, 255, 255);
    width: 50px;
    position: relative;
    top: -13px;
    z-index: 1;
    right: -43%;
  }
}

.other-auth-options {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .facebook-btn-container button,
  .google-btn-container button {
    padding: 8px 35px;
    width: 300px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12pt;
    border: none;
    border-radius: 5px;
    background-color: #348cd3;
    color: #ffffff;
    font-weight: 6cs00;
  }
  .facebook-btn-container i,
  .google-btn-container i {
    margin-right: 0.5em;
    font-size: 18pt;
    color: white;
  }
}
